mixin form(form)
  el-form(ref="form",:model="#{form}" label-width="160px")&attributes(attributes)
    if block
      block
mixin input(label)
  el-form-item(label="#{label}")
    el-input&attributes(attributes)

mixin password(id,label)
  div.form-group
    label(for="#{id}") #{label}
    input.form-control(type="password" id="#{id}")&attributes(attributes)

mixin button(label)
  el-button&attributes(attributes) #{label}

mixin checkbox(label)
  .checkbox
    label
      input(type="checkbox")&attributes(attributes)
      | #{label}

mixin select(label)
  el-form-item(label="#{label}")
    el-select&attributes(attributes)
      if block
        block


mixin option()
  el-option&attributes(attributes)

mixin selects(label,name)
  div&attributes(attributes)
    el-form-item(label="#{label}")
      el-select(v-model.mumber="formData.#{name}")
        el-option(v-for="val in config.form.#{name}",:label="val[1]",:value.number="val[0]")

mixin text(label,val)
  el-form-item(label="#{label}")
    div #{val}

mixin radios(label)
  el-form-item(label="#{label}")
    if block
      block
mixin radio(label,name)
  el-form-item(label="#{label}")&attributes(attributes)
    el-radio(v-for="val in config.form.#{name}" v-model="formData.#{name}",:label="val[0]") {{val[1]}}

mixin vnavbar(items)
  div.navbar.navbar-default(role="navigation")
    div.container-fluid
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          if block
            block
mixin lirouterLink(state,text)
  li
    router-link.router-link(to="/#{state}")&attributes(attributes) #{text}
mixin formItem(label)
  el-form-item(label="#{label}")&attributes(attributes)
    if block
      block

mixin formBtn()
  +formItem("")
    +button("Cancel")(@click="init")
    +button("Apply")(type="primary" @click="update")

