doctype html
mixin form(form)
  el-form(:rules="formRules" ref="#{form}",:model="#{form}" label-width="160px")&attributes(attributes)
    if block
      block
mixin prop(model)
  - var sd= model.replace(/\./,':');
  h(prop="#{sd}" ps="#{model}") #{model}
mixin input(label,model)
  - var prop= model.replace(/\./,':');
  el-form-item(label="#{label}",prop="#{prop}")
    el-input-number(v-model="formData.#{model}" v-if="typeof formData.#{model} =='number'")&attributes(attributes)
    el-input(v-model="formData.#{model}" v-else)&attributes(attributes)

mixin select(label,name)
  el-form-item(label="#{label}")
    el-select(v-model.mumber="formData.#{name}")&attributes(attributes)
      el-option(v-for="val in formOptions.#{name}",:label="val[1]",:value.number="val[0]")

mixin radio(label,name)
  el-form-item(label="#{label}")&attributes(attributes)
    el-radio(v-for="val in formOptions.#{name}" v-model="formData.#{name}",:label="val[0]") {{val[1]}}

mixin checkbox(label,name)
  el-form-item(label="#{label}")
    el-checkbox(v-model="formData.#{name}" true-label)

mixin formItem(label)
  el-form-item(label="#{label}")&attributes(attributes)
    if block
      block

mixin button(label)
  el-button&attributes(attributes)(size="small") #{label}

mixin formBtn()
  +formItem("")
    +button("Apply")(type="primary" @click="update")
    +button("Cancel")(@click="reset")

mixin breadcrumb(title)
  h3.breadcrumb&attributes(attributes) #{title}

mixin sideMenuPage(menu)
  el-row
    el-col(:span="5")
      side-menu(submenu="#{menu}")
    el-col(:span="19")
      .main-block
        if block
        block







mixin password(id,label)
  div.form-group
    label(for="#{id}") #{label}
    input.form-control(type="password" id="#{id}")&attributes(attributes)






mixin option()
  el-option&attributes(attributes)



mixin text(label,val)
  el-form-item(label="#{label}")
    div #{val}

mixin radios(label)
  el-form-item(label="#{label}")
    if block
      block


mixin vnavbar(items)
  div.navbar.navbar-default(role="navigation")
    div.container-fluid
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          if block
            block
mixin lirouterLink(state,text)
  li
    router-link.router-link(to="/#{state}")&attributes(attributes) #{text}


